<!DOCTYPE html>
<html>
<head>
  <title>Chatbot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">

<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
<div class="btn-group">
  <%= link_to 'Login', '/login', class:"btn btn-default" %> 
  <%= link_to 'Signup', '/signup', class:"btn btn-default" %>
</div>
<% end %>

<%= yield %>
</div>
</body>
</html>
