<html>
	<head>
		<%= render :partial => 'shared/bootstrap' %>
	</head>

	<body>
	<%= render :partial => 'shared/navbar' %>
	<div class="container-fluid">
		<div class="row">
			<div id="chat_history" class="col-xs-12">
			<% @messages.each do |msg| %>
				<%= if msg.bot_message then 'Saraswati: ' else 'You: ' end %>
				<%= msg.text %><br />
			<% end %>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">

	<form class="navbar-form" action="" method="post">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %> <!-- Necessary so that the app knows this request is originating from our app (isn't a cross-site attack) and doesn't block it -->
	
  		<div class="form-group col-xs-10" style="display:inline;">
  			<div class="input-group" style="width:100%">
	    		<input type="text" class="form-control" placeholder="Type your message here" name="message[text]" autocomplete="off" autofocus="autofocus">
	    	</div>
  		</div>
  		
  		<input type="submit" value="Post" class="btn btn-default"></input>
	
	</form>
	</div>
	</nav>
		<script type="text/javascript">
			scrollToBottomOfChatLog();
		</script>

	</body>
</html>