<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <%= link_to 'Chatbot', root_path, class:'navbar-brand' %>
      <ul class="nav nav-pills navbar-right" style="margin: 5px 5px 0px 0px;">
  		<li role="presentation"><%= link_to 'Home', root_path %></li>
  		<li role="presentation"><%= link_to 'Nodes', nodes_path %></li>
  		<li role="presentation"><%= link_to 'Chat', chat_path %></li>
  		<li role="presentation"><%= link_to 'Admin', admin_path %></li>
	</ul>
  </div>
</nav>


<script>
	$('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
</script>